/* .cards {
  display: flex;
  flex-grow: 1;
  flex-basis: 15em;
  width: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 30px;
  color:white;
  
}

.card {
  flex: 0 2 24%;
  
} */